<p><a href="/">Go back</a></p>
<div class="container">
  <div class="row center-align">
    <h2>Ashley Kiosk Walkthrough</h2>
    <div class="col s12">
      <h5>Step 1:</h5>
      <p>Login to your account <a href="ashley.catalogkiosk.com" target="_blank"> here</a>. If you forgot your login information go through the steps on "forgot password" or contact your sales rep.</p>
      <img src="https://s3-us-west-1.amazonaws.com/homelegance-resized/Homelegance+Walkthrough/step1.png" alt="" class="responsive-img">
    </div>
    <div class="col s12">
      <h5>Step 2:</h5>
      <p>Click on "Devices".</p>
      <img src="https://s3-us-west-1.amazonaws.com/homelegance-resized/Homelegance+Walkthrough/step2.png" alt="" class="responsive-img">
    </div>
    <div class="col s12">
      <h5>Step 3:</h5>
      <p>Click on the "Default Device Group settings" icon.</p>
      <img src="https://s3-us-west-1.amazonaws.com/homelegance-resized/Homelegance+Walkthrough/step3.png" alt="" class="responsive-img">
    </div>
    <div class="col s12">
      <h5>Step 4:</h5>
      <p>Add the URL you received after signing up. It should be "Kiosk URL" in the email (make sure External Websites are set to "Show"). Then save your changes by clicking "Add this website".</p>
      <img src="https://s3-us-west-1.amazonaws.com/homelegance-resized/Homelegance+Walkthrough/step4.png" alt="" class="responsive-img">
    </div>
    <div class="col 12">
      <h5>Step 5:</h5>
      <p>Go to your kiosk. If you see "Touch to Start" touch the screen. Then press and hold the logo in the top left for about 10 seconds, or until you see a screen pop up. Click the "Update Now" button.</p>
      <img src="https://s3-us-west-1.amazonaws.com/homelegance-resized/Homelegance+Walkthrough/step5.png" alt="" class="responsive-img">
    </div>
    <div class="col 12">
      <h5>Step 6:</h5>
      <p>You should be good to go! Double check to make sure it's available by clicking the "Browse to...<i class="material-icons tiny">public</i>" button and navigating to whatever you named it in step 4 (usually "Homelegance").</p>
      <p>If you had any trouble please feel free to <a href="mailto:info@homelegance-kiosk.com">reach us here</a>.</p>
    </div>
  </div>
</div>
