<main>
  <section id="hero" class="parallax-container">
    <!-- <div class="bg"></div> -->
    <div class="parallax">
      <img src="https://s3-us-west-1.amazonaws.com/homelegance/Images_MidRes_For+Customer+Advertisement/2159-1.jpg" alt="" >
    </div>
    <h1>1,000 more products, in any store, <br> with the <strong>Homelegance Kiosk</strong>.</h1>
    <img alt="" class="logo" src="https://cdn3.bigcommerce.com/s-rpzf45a/product_images/uploaded_images/homelegance-logo.jpg?t=1446963648">
    <img src="../imgs/kiosk.png" alt="" class="kiosk">
  </section>

  <section id="about" class="section white center-align">
    <div class="row container">
      <h2 class="header">Features</h2>
      <p class="grey-text text-darken-3 lighten-3">The Homelegance Kiosk is the best way to show Homelegance products in your showroom. From custom pricing to inventory updates we make it easy for customers to shop, making easier for you to sell.</p>
      <div class="col s3 features">
        <i class="material-icons large">attach_money</i>
        <h5>Set your own price</h5>
        <p>You configure your own markup. Just pick your multiplier and let the application do the rest. And best of all, no more having to run back and forth to calculate pricing for customers.</p>
      </div>
      <div class="col s3 features">
        <i class="material-icons large">store</i>
        <h5>More products in your store</h5>
        <p>Sell more products, effortlessly. With over 1,000 products customers can easily browse, navigate, and deicde what they like. With new products being added monthly, it's a simple, easy way to display great items.</p>
      </div>
      <div class="col s3 features">
        <i class="material-icons large">important_devices</i>
        <h5>Works with multiple devices</h5>
        <p>The Homelegance Kiosk Application works on a large array of devices. While it does work best on true kiosks, it can be used on tablets or even computers.</p>
        <p>For integration with Ashley/Wondersign's kiosk, read our <a href="/ashley-walkthrough">walkthrough</a></p>
      </div>
      <div class="col s3 features">
        <i class="material-icons large">weekend</i>
        <h5>Know what's in stock</h5>
        <p>The Homelegance Kiosk Application automatically keeps track of what's in stock. No more finishing a sale, just to find out the item's out of stock.</p>
      </div>
    </div>
  </section>
  <section id="pricing" class="center-align parallax-container valign-wrapper">
    <div class="parallax">
      <img src="https://s3-us-west-1.amazonaws.com/homelegance/Images_MidRes_For+Customer+Advertisement/8327TL.jpg" alt="" >
    </div>
    <div class="row container">
      <div class="card medium">
        <div class="card-content grey lighten-4">
          <span class="card-title">Easy, Fair, Pricing</span>
          <p>We make it easy to sign up. Whether you need a kiosk or just the application, we offer products that suit your needs.</p>
        </div>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a class="active blue-text" href="#test4">Software License</a></li>
            <li class="tab"><a href="#test5" class="blue-text">Touchscreen Kiosk</a></li>
          </ul>
        </div>
        <div class="card-content">
          <div id="test4">$250/year. This is for application license, and will work on any of our supported devices. Including:
            <ul>
              <li>Homelegance Kiosk</li>
              <li>Ahsley/Wondersign Kiosk</li>
              <li>Tablets</li>
              <li>Computers</li>
            </ul>
          </div>
          <div id="test5">We partner with fantastic companies to try to get you the best pricing for all of our touchscreen kiosks. If interested, please fill out this <a id="scroll_to">short form</a> and a representative will reach out to you.
            <br>
            We currently offer the following sizes:
            <ul>
              <li>22 inch</li>
              <li>42 inch</li>
              <li>55 inch</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="faq" class="center-align">
    <div class="row container">
      <h2>Frequently Asked Questions</h2>
      <div class="col s6">
        <h5>Will products automatically update?</h5>
        <p>Yes. We keep track of what items are discontinued and what items are coming in to make sure your information is up to date.</p>
      </div>
      <div class="col s6">
        <h5>Will this integrate with Ashley/Wondersign's kiosk?</h5>
        <p>Yes. We understand many stores already own a kiosk from Ashley/Wondersign and understand that purchasing another kiosk may not be feasible.</p>
        <p>If you have already purchased access to the Homelegance Kiosk Application and need help installing it, check out our <a href="/ashley-walkthrough">walkthrough</a>.</p>
      </div>
      <div class="col s6">
        <h5>Do I need to be connected to the internet?</h5>
        <p>Yes. Our application runs on a web browser and needs to be connected to the internet in order to function. We recommend having a relatively strong connection to ensure the best customer experience.</p>
      </div>
      <div class="col s6">
        <h5>Will this work with my iPad?</h5>
        <p>Yes. The Homelegance Kiosk Application works with most devices. We recommend using anything that is the size of an Apple iPad or larger.</p>
      </div>
      <div class="col s12">
        <h5>Have other questions?</h5>
        <p>If you have other questions please feel free to fill out the form below, or email us directly at <a href="mailto:info@homelegance-kiosk.com">info@homelegance-kiosk.com</a></p>
      </div>
    </div>
  </section>
  <section id="contact">
    <div class="row container">
      <h2 class="center-align">Get in touch</h2>
      <form id="contact_form" action="/email" method="post">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <label for="first_name">First Name</label>
          <input type="text" id="first_name" name="first_name" type="text" class="validate" required>
        </div>
        <div class="input-field col s6">
          <label for="last_name">Last Name</label>
          <input id="last_name" name="last_name" type="text" class="validate" required>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <label for="email">Email</label>
          <input type="email" name="email" class="validate" id="email" required>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">store</i>
          <label for="store_name">Store name</label>
          <input type="text" name="store_name" class="validate" id="store_name" required>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">face</i>
          <label for="sales_rep">Sales Rep</label>
          <input type="text" name="sales_rep" class="validate" id="sales_rep" required>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">sms</i>
          <textarea id="message" class="materialize-textarea validate" required></textarea>
          <label for="message">Message</label>
        </div>
        <div class="col s6">
          <p>Which options are you interested in?</p>
          <p>
            <input type="checkbox" id="options[22]" name="options[]" value="22"/>
            <label for="options[22]">22 inch touchscreen</label>
          </p>
          <p>
            <input type="checkbox" id="options[42]" name="options[]" value="42"/>
            <label for="options[42]">42 inch touchscreen</label>
          </p>
          <p>
            <input type="checkbox" id="options[55]" name="options[]" value="55"/>
            <label for="options[55]">55 inch touchscreen</label>
          </p>
        </div>
        <div class="col s6">
          <p>How will you display the touchscreen</p>
          <p>
            <input name="mount" type="radio" id="wall" value="wall"/>
            <label for="wall">Wall mount</label>
          </p>
          <p>
            <input name="mount" type="radio" id="stand" value="stand"/>
            <label for="stand">Kiosk stand</label>
          </p>
        </div>
        <button type="submit" class="btn right">Submit</button>
      </form>
    </div>
  </section>
</main>
<footer class="center-align">
  <p id="copy">Homelegance Kiosk &copy; </p>
</footer>
