<main>
  <p><a href="/">Go back</a></p>
  <div class="container">
    <h2>Thank you!</h2>
    <p>A representative will contact you within the next 1-3 days.</p>
  </div>
</main>
<footer class="center-align">
  <p id="copy">Homelegance Kiosk &copy; </p>
</footer>
